[Hook Overrides]
branch_check: true

# Flashrom is mostly third-party code, and modules released by the
# Chromium OS authors display the BSD-license header.
cros_license_check: false

# Flashrom uses tabs instead of spaces for indentation.
tab_check: false
